<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="/css/tempstyles.css" rel="stylesheet" type="text/css">
    </head>
<body>

    <div class ="box" id="heading">
        <h1>it's a <%=kindOfDay %></h1>
    </div>

    <div class="box">
       
            <form action="/addOrder" method="post"> <% for(var i=0;i<newWork.length;i++){%>
                <div class="item">
                     <p>
                        <%=newWork[i].Dish %>
                        <%=newWork[i].price  %>
                        <button name="checkbox" value="<%=newWork[i]._id%>" onclick="this.form.submit()" >+</button>
                         
                    </p>        
                </div>
                <% } %> 
                <p>Total Money=<%=priceTillNow %></p>   
            </form>
            <form action="/orderSubmit" method="post">
              
            <button type="submit" name ="button">proceed-></button>
        </form>
       
    </div>   
</body>
</html>